@model IEnumerable<Document_Management.Models.Register>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification">

    <h1>Index</h1>

    <div class="d-flex justify-content-end">
        <form class="form-inline">
            <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-primary rounded-3">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-primary">Employee Number</th>
                    <th class="text-primary">Full Name</th>
                    <th class="text-primary">Department</th>
                    <th class="text-primary">Username</th>
                    <th class="text-primary">Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.EmployeeNumber</td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Department</td>
                        <td>@user.Username</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-secondary">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-secondary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#searchInput").on("keyup", function () {
                    var searchText = $(this).val().toLowerCase();

                    $("tbody tr").each(function () {
                        var row = $(this).text().toLowerCase();
                        if (row.includes(searchText)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            });
        </script>
    }
