@model IEnumerable<Document_Management.Models.Register>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification">

    <h1>Employees</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary rounded-3">Create New</a>
    </p>

    <div class="table-responsive">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th class="text-primary">
                        @Html.DisplayNameFor(model => model.EmployeeNumber)
                    </th>
                    <th class="text-primary">Full Name</th>
                    <th class="text-primary">
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th class="text-primary">
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th class="text-primary">
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="align-text-bottom">
                        <td>
                            @Html.DisplayFor(model => user.EmployeeNumber)
                        </td>
                        <td>
                            @user.FirstName @user.LastName
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(model => user.Role)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-light">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-light">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#searchInput").on("keyup", function () {
                    var searchText = $(this).val().toLowerCase();

                    $("tbody tr").each(function () {
                        var row = $(this).text().toLowerCase();
                        if (row.includes(searchText)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            });
        </script>
    }
