@model Document_Management.Models.RequestGP

@{
    ViewData["Title"] = "Details";
}

<h1>Disapproved</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GatepassId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GatepassId)
        </dd>
    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        @*    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Items)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Disapproved">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm Disapprove" class="btn btn-danger" /> |
        <a asp-action="Validator">Back to List</a>
    </form>
</div>
