@model Document_Management.Models.RequestGP

@{
    ViewData["Title"] = "Preview";
    string fullName = Model.LastName + ", " + Model.FirstName + " " + Model.MiddleName;
}

<div class="container position-relative">
    <div class="text-center">
        <h6><strong>FILPRIDE RESOURCES, INC.</strong></h6>
        <p>Tower B, Phoenix Sun Business Park E. Rodriguez,Ave. Brgy. Libis 1110 QC</p>
        <h6>  GATE PASS</h6>
        <h6 style="position: absolute; top: -10px; right: 5px; color: red"><em>@Html.DisplayNameFor(model => model.GatepassId): @Html.DisplayFor(model => model.GatepassId)</em></h6>

    </div>
</div>
<div class="container position-relative">
    <h6>DATE: @Html.DisplayFor(model => model.Schedule)</h6>
    <h6 style="position: absolute; top: -1px; right: 5px;">@Html.DisplayNameFor(model => model.Area): @Html.DisplayFor(model => model.Area)</h6>
    <h6>COMPANY NAME: FILPRIDE RESOURCES, INC.</h6><br />
    <h6>To the Security Guard on Duty Please allow the bearer  <u>@Html.DisplayFor(model => fullName)</u></h6>
    <h6>to bring out of the Premises the following items:</h6>
    <p>
        <u>&nbsp;@Html.DisplayFor(model => model.Items)&nbsp;</u>
    </p>

    <div style="position: relative; top: -50px;">
        <img src="~/img/sampleSign-removebg-preview.png" width="200px" height="150px" style="right: 200px; left: -20px;">
    </div>
    <div style="position: relative; top: -120px;">
        <h6>LEONARD A. ANDULAN</h6>
        <hr class="w-25" />
        <p>Authorized Signature</p><br />
        <hr class="w-25" />
        <p>Noted by:</p>
    </div>
</div>
<div style="position: relative; top: -120px;">
<hr />
<hr />
</div>
<div style="position: relative; top: -120px;">
<div class="container position-relative">
    <div class="text-center">
        <h6><strong>FILPRIDE RESOURCES, INC.</strong></h6>
        <p> Tower B, Phoenix Sun Business Park E. Rodriguez,Ave. Brgy. Libis 1110 QC</p>
        <h6>  GATE PASS</h6>
            <h6 style="position: absolute; top: -10px; right: 5px; color: red"><em>@Html.DisplayNameFor(model => model.GatepassId): @Html.DisplayFor(model => model.GatepassId)</em></h6>

    </div>
</div>
<div class="container position-relative">
    <h6>DATE: @Html.DisplayFor(model => model.Schedule)</h6>
        <h6 style="position: absolute; top: -1px; right: 5px;">@Html.DisplayNameFor(model => model.Area): @Html.DisplayFor(model => model.Area)</h6>
    <h6>COMPANY NAME: FILPRIDE RESOURCES, INC.</h6><br />
        <h6>To the Security Guard on Duty Please allow the bearer  <u>@Html.DisplayFor(model => fullName)</u></h6>
    <h6>to bring out of the Premises the following items:</h6>
    <p>
        <u>&nbsp;@Html.DisplayFor(model => model.Items)&nbsp;</u>
    </p>

        <div style="position: relative; top: -50px;">
            <img src="~/img/sampleSign-removebg-preview.png" width="200px" height="150px" style="right: 200px; left: -20px;">
        </div>
        <div style="position: relative; top: -120px;">
            <h6>LEONARD A. ANDULAN</h6>
            <hr class="w-25" />
            <p>Authorized Signature</p><br />
            <hr class="w-25" />
            <p>Noted by:</p>
        </div>
</div>
</div>

    <a class="btn btn-success" onclick="printPage()" id="printButton">Print</a>
    <a asp-action="RecievedGP" class="btn" id="otherButton">Back</a>

@section Scripts{
    <script>
        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

             // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Set the font size of all paragraph elements to 12px
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>
}