@model IEnumerable<Document_Management.Models.RequestGP>

@{
    var usersCount = (ViewBag.users as List<Document_Management.Models.RequestGP>)?.Count ?? 0;
    var username = Context.Session.GetString("username");
    var userrole = Context.Session.GetString("userrole")?.ToLower();
}

@{
    ViewData["Title"] = "List of Request";
}

<h1>@ViewData["Title"]</h1>

@* <p>
    <a asp-action="Create" class="btn btn-primary rounded-3">Create New</a>
</p> *@

<div class="table-responsive">
    <table class="table" id="table">
    <thead>
        <tr>
            <th class="text-primary ">Full Name</th>
            <th class="text-primary ">Contact</th>
            @if (userrole == "validator")
            {
            <th class="text-primary w-25">GatepassId</th>
            }
            <th class="text-primary w-25">Area</th>
            <th class="text-primary w-25">Items</th>
          @*   <th class="text-primary ">@Html.DisplayNameFor(model => model.ScheduleDate)</th> *@
            <th class="text-primary ">Remarks</th>
             @if (userrole == "validator")
            {
                <th class="text-primary ">Schedule</th>
            }
            <th class="text-primary ">Action</th>
            @*     <th class="text-primary ">@Html.DisplayNameFor(model => model.Purpose)</th> *@

        </tr>
    </thead>
    <tbody>
        @foreach (var user in (List<Document_Management.Models.RequestGP>)ViewBag.users)
        {


            if (userrole == "validator")
            {
               
                    <tr class="align-middle text-wrap">
                        <td class="w-25">@(user.LastName + ",  " + user.FirstName + "  " + user.MiddleName)</td>
                        <td>@user.Contact</td>
                        <td>@user.GatepassId</td>
                        <td>@user.Area</td>
                        <td>@user.Items</td>
                       @*  <td>@user.ScheduleDate</td> *@
                        <td>@user.Status</td>
                        <td>@user.Schedule</td>


                        <td class="w-50">
                            <a asp-action="Generate" asp-route-id="@user.Id" class="btn btn-secondary">Generate</a>
                        </td>
                    </tr>
                
            }

            @if (user.Username == username && userrole != "validator")
                {<tr class="align-middle text-wrap" id="table">
                    
                        <td class="w-25">@(user.LastName + ",  " + user.FirstName + "  " + user.MiddleName)</td>
                        <td>@user.Contact</td>
                        <td>@user.Area</td>
                        <td>@user.Items</td>
                       @*  <td>@user.ScheduleDate</td> *@
                        <td>@user.Status</td>


                        <td class="w-50">
                            <a asp-action="Generate" asp-route-id="@user.Id" class="btn btn-secondary">Generate</a>
                        </td>
                    </tr>
                

                }  

           
        }
    </tbody>
</table>
</div>
@section Scripts{
    <script>
        $("#table").DataTable({
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 7] }],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "paginate": {
                    "next": "Next",
                    "previous": "Previous",
                    "first": "First",
                    "last": "Last"
                }
            },
            "search": {
                "search": ""
            }
        });

    </script>
}
