@model IEnumerable<Document_Management.Models.RequestGP>


@{
    ViewData["Title"] = "Validator";
}
<partial name="_Notification">

<h1>@ViewData["Title"]</h1>

    <div class="table-responsive">
        <table class="table" >
            <thead>
                <tr>
                    <th class="text-primary ">Full Name</th>
                    <th class="text-primary ">@Html.DisplayNameFor(model => model.Contact)</th>
                    <th class="text-primary w-25">@Html.DisplayNameFor(model => model.GatepassId)</th>
                    <th class="text-primary ">@Html.DisplayNameFor(model => model.Area)</th>
                    <th class="text-primary text-center">@Html.DisplayNameFor(model => model.Schedule)</th>
                    <th class="text-primary text-center">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in (List<Document_Management.Models.RequestGP>)ViewBag.users)
                {

                    

                        @if (user.Status == "Pending")
                        {
                        <tr class="align-middle">
                            <td class="w-25">@(user.LastName + ",  " + user.FirstName + "  " + user.MiddleName)</td>
                            <td>@user.Contact</td>
                            <td>@user.GatepassId</td>
                            <td>@user.Area</td>
                            @* <td>@user.Items</td> *@
                            <td>@user.Schedule</td>


                            <td class="w-50 text-center">
                                <a asp-action="Approved" asp-route-id="@user.Id" class="btn btn-success">Approve</a> |
                                <a asp-action="Disapproved" asp-route-id="@user.Id" class="btn btn-danger">Disapprove</a>
                            </td>

                        </tr>
                        }

                   
                }
            </tbody>
        </table>
    </div>
  