@model List<FileDocument>

@{
    ViewData["Title"] = "Download";
}

<h1 class="h1">List of PDF Files</h1>

<br />

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>File Name</th>
                <th>Date Upload</th>
                <th>Username</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr class="align-items-center">
                    <td>
                        <a href="@Url.Content("~/Files/" + file.Department + "/" + file.Name)" download class="btn btn-info rounded">Download</a>
                    </td>
                    <td>@file.Name</td>
                    <td>@file.DateUploaded</td>
                    <td>@file.Username</td>
                    <td>@file.Description</td>                 
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <a asp-action="DownloadFile" class="btn btn-secondary mt-3" id="backToFolderList">Back to Folder List</a>
</div>