@model List<FileDocument>

@{
    ViewData["Title"] = "Download";
}

<h2 class="h2"><b>LIST OF PDF FILES</b></h2>

<br />

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
        <thead>
            <tr class="text-nowrap">
                <th></th>
                <th>File Name</th>
                <th>Date Upload</th>
                <th>Uploaded By</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr class="align-items-center">
                    <td>
                        @if(file.SubCategory == "N/A")
                        {
                            <a href="@Url.Content("~/Files/" + file.Company + "/" + file.Year + "/" + file.Department + "/" + file.Category + "/" + file.Name)" download="@file.OriginalFilename" class="btn btn-primary">Download</a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/Files/" + file.Company + "/" + file.Year + "/" + file.Department + "/" + file.Category + "/" + file.SubCategory + "/" + file.Name)" download="@file.OriginalFilename" class="btn btn-primary">Download</a>
                        }
                    </td>
                    <td>@file.OriginalFilename</td>
                    <td>@file.DateUploaded</td>
                    <td>@file.Username</td>
                    <td>@file.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <a href="@Url.Action("DepartmentFolder", "Dms", new { companyFolderName = ViewBag.CompanyFolder, yearFolderName = ViewBag.YearFolder, departmentFolderName = ViewBag.DepartmentFolder})" class="btn btn-secondary mt-3" id="backToFolderList">Back to Category List</a>
</div>