@model List<FileDocument>

<h1 class="h1">List of Folders and PDF Files</h1>


@* <div class="form-group">
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" class="form-control" placeholder="Search by Name or Description">
</div> *@

<form class="d-flex">
    <input id="searchInput" class="form-control me-sm-2" type="text" placeholder="Search by Name or Description">
</form>

<br />

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Department</th>
                <th>File Name</th>
                <th>Date Uploaded</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <td>@file.Department</td>
                    <td>@file.Name</td>
                    <td>@file.DateUploaded</td>
                    <td>@file.Description</td>
                    <td>
                        <a href="@Url.Content("~/Files/" + file.Department + "/" + file.Name)" download class="btn btn-primary rounded">Download</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var searchText = $(this).val().toLowerCase();
                $('tbody tr').each(function () {
                    var name = $(this).find('td:eq(1)').text().toLowerCase();
                    var description = $(this).find('td:eq(3)').text().toLowerCase();
                    if (name.includes(searchText) || description.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}