@model List<FileDocument>
@{
    ViewData["Title"] = "General Search";
}

<h1>File Search Results</h1>
<hr />
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
            <tr class="text-nowrap">
                <th scope="col">Location Folder</th>
                <th scope="col">File Name</th>
                <th scope="col">Description</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">Date Uploaded</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in Model)
            {
                <tr class="align-items-center">
                    <td>
                        <a title="@file.Company/@file.Year/@file.Department/@file.Category"
                           target="_blank"
                           href="@Url.Action("Download", "Dms", new {
                                     filepath = $"Files/{file.Company}/{file.Year}/{file.Department}/{file.Category}/{file.Name}",
                                     originalFilename = file.OriginalFilename
                                 })">
                            Click to download file
                        </a>
                    </td>
                    <td>@file.OriginalFilename</td>
                    <td>@file.Description</td>
                    <td>@file.Username</td>
                    <td>@file.DateUploaded</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>No file found for this keywords.</i></p>
}