@model IEnumerable<Document_Management.Models.FileDocument>


@{
    ViewData["Title"] = "Uploaded Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userrole = Context.Session.GetString("userrole")?.ToLower();
}

<partial name="_Notification" />

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="UploadFile" class="btn btn-secondary">Upload New</a>
</p>
<div class="table-responsive">
    <table class="table table-hover" id="newBetterTable" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 23%;" />
            <col style="width: 25%;" />
            <col style="width: 15%;" />
            <col style="width: 15%;" />
            @if (userrole == "admin")
            {
                <col style="width: 15%;" />
            }
            <col style="width: 15%;" />
        </colgroup>
        <thead>
            <tr class="text-nowrap">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Location Folder</th>
                @if (userrole == "admin")
                {
                    <th>
                        Uploaded By
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.DateUploaded)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(f => f.DateUploaded))
            {
                <tr class="align-text-bottom">
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a class="btn btn-secondary" onclick="confirmDelete(@item.Id)">Delete</a>
                        <a asp-action="Transfer" asp-route-id="@item.Id" class="btn btn-secondary">Transfer</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalFilename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (item.SubCategory == "N/A")
                    {
                        <td>
                            <a title="@item.Company/@item.Year/@item.Department/@item.Category" href="@Url.Action("DisplayFiles", "Dms", new { companyFolderName = item.Company, yearFolderName = item.Year, departmentFolderName = item.Department, documentTypeFolderName = item.Category})">Location Path</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a title="@item.Company/@item.Year/@item.Department/@item.Category/@item.SubCategory" href="@Url.Action("DisplayFiles", "Dms", new { companyFolderName = item.Company, yearFolderName = item.Year, departmentFolderName = item.Department, documentTypeFolderName = item.Category, subCategoryFolder = item.SubCategory})">Location Path</a>
                        </td>
                    }
                    @if (userrole == "admin")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUploaded)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = `/DMS/Delete?id=${id}`;
                    window.location.href = url;
                }
            });
        }
    </script>
}